<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Styling</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="script.js" defer></script>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <section id="styling">
      <header>
        <h1>Vue Styling</h1>
      </header>
      <div class="container">
        <input placeholder="type 'active'" v-model="userInput" type="text" />
        <p :class="userInput" class="styleMe">Style Me</p>
        <button @click="toggleVisibility">toggle</button>
        <input placeholder="type a color" v-model="inlineStyle" type="text" />
        <p :style="{backgroundColor: inlineStyle}" class="styleMe">
          style inline
        </p>
        <div :class="visible" class="box-container">
          <div
            @click="boxSelected(1)"
            :style="{backgroundColor: box1 ? '#fa5246' : '#faae2b', borderColor: 'transparent'}"
            class="box"
          >
            Click Me: 1
          </div>
          <div
            :class="{default: true, active: box2}"
            @click="boxSelected(2)"
            class="box"
          >
            Click Me: 2
          </div>
          <div
            :class="['default', {active: box3}]"
            @click="boxSelected(3)"
            class="box"
          >
            Click Me: 3
          </div>
          <div
            :class="{active: box4}"
            @click="boxSelected(4)"
            class="box default"
          >
            Click Me: 4
          </div>
          <div :class="boxClasses" @click="boxSelected(5)" class="box">
            Click Me: 5
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
